*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

/* #root {
max-width: 100%;
  max-height: 100vh;
  /* overflow: none;
} */

nav {
  background-color: #282846;
}

li:hover,
li:focus {
  background-color: #1f1f36;
}

input:focus {
  border-color: #eda84a;
}

/* .navbar-layout {
  display: hidden !important;
} */
